.container-fluid {
  position: absolute;
  left: 40px;
  right: 40px;
  padding: 12px;
}
h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 300;
}
.add-todo {
  float: left;
  padding: 4px;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}
.btn.btn-primary {
  border: 1px solid blue;
  padding: 4px;
  width: 10%;
  background: blue;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  outline: none;
}
.btn.btn-danger {
  float: right;
  background: #ff0000a1;
  cursor: pointer;
  border: none;
  width: 12%;
  padding: 6px;
}
h4 {
  font-weight: 400;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
  padding: 12px;
  border-radius: 4px;
  width: 50%;
}
